In [1]:
import numpy as np
import pandas as pd

# Data Importing:

In [2]:
loan_train = pd.read_csv('data/Train_Dataset.csv')
loan_test = pd.read_csv('data/Test_Dataset.csv')
loan_train

C:\Users\brigu\AppData\Local\Temp\ipykernel_11668\3400909368.py:1: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_train = pd.read_csv('data/Train_Dataset.csv')
C:\Users\brigu\AppData\Local\Temp\ipykernel_11668\3400909368.py:2: DtypeWarning: Columns (7,8,16,17,18,19,20,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_test = pd.read_csv('data/Test_Dataset.csv')

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,...,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250,1.0,0.0,1.0,NaN,0.0,15282,1826.55,Alone,...,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.0,0.0,1.0,0.0,1.0,59527.35,2788.2,Alone,...,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0
3,12188929,15750,0.0,0.0,1.0,1.0,0.0,53870.4,2295.45,Alone,...,Yes,Yes,XNA,NaN,0.135182,0.631355,NaN,1700.0,3.0,0
4,12133385,33750,1.0,0.0,1.0,0.0,2.0,133988.4,3547.35,Alone,...,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355639,0.2021,674.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121851,12207714,29250,0.0,0.0,NaN,1.0,0.0,107820,3165.3,Relative,...,Yes,No,Business Entity Type 2,NaN,0.173527,0.184116,0.0577,0.0,1.0,1
121852,12173765,15750,0.0,1.0,1.0,0.0,0.0,104256,3388.05,Alone,...,Yes,Yes,Self-employed,NaN,0.371559,0.406617,0.0825,4.0,0.0,0
121853,12103937,8100,0.0,1.0,0.0,1.0,1.0,55107.9,2989.35,Alone,...,No,No,Trade: type 6,0.169049,0.048079,NaN,NaN,0.0,NaN,0
121854,12170623,38250,1.0,1.0,0.0,1.0,0.0,45000,2719.35,Alone,...,Yes,Yes,Business Entity Type 3,0.182737,0.103538,0.077499,0.0979,0.0,2.0,0
121855,12105610,9000,1.0,1.0,1.0,1.0,1.0,62428.95,4201.65,Alone,...,Yes,Yes,Business Entity Type 3,NaN,0.556414,0.298595,0.1031,805.0,0.0,0

In [3]:
loan_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          121856 non-null  int64
 1   Client_Income               118249 non-null  object
 2   Car_Owned                   118275 non-null  float64
 3   Bike_Owned                  118232 non-null  float64
 4   Active_Loan                 118221 non-null  float64
 5   House_Own                   118195 non-null  float64
 6   Child_Count                 118218 non-null  float64
 7   Credit_Amount               118224 non-null  object
 8   Loan_Annuity                117044 non-null  object
 9   Accompany_Client            120110 non-null  object
 10  Client_Income_Type          118155 non-null  object
 11  Client_Education            118211 non-null  object
 12  Client_Marital_Status       118383 non-null  object
 13  Client_Gender               119443 non-null  object
 14  Loan_Contract_Type          118205 non-null  object
 15  Client_Housing_Type         118169 non-null  object
 16  Population_Region_Relative  116999 non-null  object
 17  Age_Days                    118256 non-null  object
 18  Employed_Days               118207 non-null  object
 19  Registration_Days           118242 non-null  object
 20  ID_Days                     115888 non-null  object
 21  Own_House_Age               41761 non-null   float64
 22  Mobile_Tag                  121856 non-null  int64
 23  Homephone_Tag               121856 non-null  int64
 24  Workphone_Working           121856 non-null  int64
 25  Client_Occupation           80421 non-null   object
 26  Client_Family_Members       119446 non-null  float64
 27  Cleint_City_Rating          119447 non-null  float64
 28  Application_Process_Day     119428 non-null  float64
 29  Application_Process_Hour    118193 non-null  float64
 30  Client_Permanent_Match_Tag  121856 non-null  object
 31  Client_Contact_Work_Tag     121856 non-null  object
 32  Type_Organization           118247 non-null  object
 33  Score_Source_1              53021 non-null   float64
 34  Score_Source_2              116170 non-null  float64
 35  Score_Source_3              94935 non-null   object
 36  Social_Circle_Default       59928 non-null   float64
 37  Phone_Change                118192 non-null  float64
 38  Credit_Bureau               103316 non-null  float64
 39  Default                     121856 non-null  int64
dtypes: float64(15), int64(5), object(20)
memory usage: 37.2+ MB

In [4]:
loan_train.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,121856.0,1.216093e+07,35176.941538,1.210000e+07,1.213046e+07,1.216093e+07,1.219139e+07,1.222186e+07
Car_Owned,118275.0,3.428535e-01,0.474665,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
Bike_Owned,118232.0,3.322620e-01,0.471026,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
Active_Loan,118221.0,4.991753e-01,0.500001,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
House_Own,118195.0,6.920597e-01,0.461644,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
Child_Count,118218.0,4.177790e-01,0.728802,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.900000e+01
Own_House_Age,41761.0,1.215732e+01,12.056079,0.000000e+00,5.000000e+00,9.000000e+00,1.500000e+01,6.900000e+01
Mobile_Tag,121856.0,9.999918e-01,0.002865,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
Homephone_Tag,121856.0,2.004989e-01,0.400375,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
Workphone_Working,121856.0,2.812008e-01,0.449587,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
Client_Family_Members,119446.0,2.154329e+00,0.912686,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.600000e+01
Cleint_City_Rating,119447.0,2.030038e+00,0.504407,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00
Application_Process_Day,119428.0,3.159736e+00,1.759045,0.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00,6.000000e+00
Application_Process_Hour,118193.0,1.206310e+01,3.280695,0.000000e+00,1.000000e+01,1.200000e+01,1.400000e+01,2.300000e+01
Score_Source_1,53021.0,5.012129e-01,0.211204,1.456813e-02,3.334805e-01,5.046567e-01,6.738901e-01,9.457413e-01
Score_Source_2,116170.0,5.186248e-01,0.740248,5.000000e-06,3.901643e-01,5.649781e-01,6.640112e-01,1.000000e+02
Social_Circle_Default,59928.0,1.174279e-01,0.107974,0.000000e+00,5.770000e-02,8.870000e-02,1.485000e-01,1.000000e+00
Phone_Change,118192.0,9.621061e+02,827.976726,0.000000e+00,2.720000e+02,7.550000e+02,1.570000e+03,4.185000e+03
Credit_Bureau,103316.0,1.891082e+00,1.861921,0.000000e+00,0.000000e+00,1.000000e+00,3.000000e+00,2.200000e+01
Default,121856.0,8.079208e-02,0.272517,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00

In [5]:
loan_train.describe(include="O").T

                               count  unique                     top    freq
Client_Income                 118249    1516                   13500   11908
Credit_Amount               118224.0  6816.0                 45000.0  2513.0
Loan_Annuity                  117044   16680                     900    1885
Accompany_Client              120110       7                   Alone   97409
Client_Income_Type            118155       8                 Service   61028
Client_Education              118211       5               Secondary   83911
Client_Marital_Status         118383       4                       M   87349
Client_Gender                 119443       3                    Male   78463
Loan_Contract_Type            118205       2                      CL  107118
Client_Housing_Type           118169       6                    Home  104870
Population_Region_Relative    116999     164                0.035792    4159
Age_Days                      118256   22583                   13740      20
Employed_Days                 118207   13220                  365243   19848
Registration_Days             118242   19254                       1      44
ID_Days                       115888    9655                    4053      73
Client_Occupation              80421      18                Laborers   21024
Client_Permanent_Match_Tag    121856       2                     Yes  112454
Client_Contact_Work_Tag       121856       2                     Yes  100015
Type_Organization             118247      58  Business Entity Type 3   26279
Score_Source_3               94935.0  1430.0                  0.7463   484.0

In [6]:
loan_train.nunique()

ID                            121856
Client_Income                   1516
Car_Owned                          2
Bike_Owned                         2
Active_Loan                        2
House_Own                          2
Child_Count                       14
Credit_Amount                   6816
Loan_Annuity                   16680
Accompany_Client                   7
Client_Income_Type                 8
Client_Education                   5
Client_Marital_Status              4
Client_Gender                      3
Loan_Contract_Type                 2
Client_Housing_Type                6
Population_Region_Relative       164
Age_Days                       22583
Employed_Days                  13220
Registration_Days              19254
ID_Days                         9655
Own_House_Age                     55
Mobile_Tag                         2
Homephone_Tag                      2
Workphone_Working                  2
Client_Occupation                 18
Client_Family_Members             15
Cleint_City_Rating                 3
Application_Process_Day            7
Application_Process_Hour          24
Client_Permanent_Match_Tag         2
Client_Contact_Work_Tag            2
Type_Organization                 58
Score_Source_1                 43968
Score_Source_2                 67016
Score_Source_3                  1430
Social_Circle_Default           1882
Phone_Change                    3590
Credit_Bureau                     21
Default                            2
dtype: int64

# Data Preprocessing:

In [7]:
loan_train[loan_train['Client_Income'] == '$']

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
1586,12212892,$,1.0,0.0,1.0,0.0,0.0,180000,NaN,Alone,...,Yes,No,Trade: type 3,NaN,0.599567,NaN,NaN,36.0,1.0,0
9963,12116280,$,1.0,0.0,1.0,0.0,0.0,75585.6,3649.05,Alone,...,Yes,No,Self-employed,0.304580,0.364991,0.486653,NaN,1119.0,4.0,0
22639,12132177,$,1.0,0.0,0.0,1.0,0.0,15282.0,994.95,Partner,...,No,Yes,Business Entity Type 1,0.235993,0.380878,0.321735282,NaN,136.0,NaN,0
29426,12161187,$,0.0,0.0,1.0,0.0,NaN,107820.0,3165.3,Alone,...,Yes,Yes,Self-employed,NaN,0.752725,0.382501804,NaN,2565.0,1.0,0
43000,12187842,$,0.0,0.0,1.0,1.0,0.0,13500,838.8,Alone,...,Yes,Yes,Trade: type 7,NaN,0.658718,NaN,NaN,0.0,0.0,0
69132,12165976,$,0.0,0.0,0.0,1.0,0.0,NaN,1685.25,Relative,...,Yes,Yes,Self-employed,NaN,0.237362,NaN,NaN,250.0,NaN,0
70322,12216408,$,0.0,0.0,1.0,1.0,0.0,90000.0,4500,Alone,...,Yes,Yes,XNA,NaN,0.563973,0.744932,0.1062,0.0,0.0,0
73469,12114240,$,0.0,0.0,1.0,0.0,0.0,94230.0,2754.9,Group,...,Yes,Yes,Transport: type 2,NaN,0.429348,0.742182,0.1031,NaN,3.0,0
73771,12139345,$,1.0,0.0,1.0,1.0,1.0,72846.0,4672.8,Alone,...,Yes,No,NaN,NaN,0.237453,0.164414,NaN,785.0,6.0,0
81745,12207547,$,1.0,0.0,0.0,0.0,1.0,23985.0,2336.4,Alone,...,Yes,Yes,XNA,NaN,0.668408,0.565608,NaN,649.0,2.0,0
94071,12213068,$,0.0,0.0,0.0,1.0,0.0,31500.0,2501.55,Alone,...,Yes,No,Business Entity Type 3,NaN,0.184141,0.234015,0.0588,50.0,1.0,1
102682,12108760,$,0.0,1.0,0.0,1.0,0.0,24727.5,2281.05,Alone,...,Yes,Yes,Trade: type 7,NaN,0.553573,0.157595,NaN,1491.0,5.0,1
102927,12177121,$,0.0,1.0,0.0,1.0,0.0,25470.0,1475.1,Relative,...,Yes,Yes,XNA,NaN,0.228567,0.427657,NaN,1259.0,0.0,0
112898,12152452,$,0.0,0.0,1.0,1.0,1.0,94342.5,2771.55,Alone,...,Yes,Yes,School,0.672655,0.756889,0.799297,NaN,2811.0,0.0,0
116440,12104734,$,0.0,0.0,1.0,1.0,0.0,72979.2,3959.1,Alone,...,Yes,Yes,Bank,NaN,0.396678,0.556727,NaN,0.0,1.0,0

In [8]:
loan_train[loan_train['Loan_Annuity'] == "#VALUE!"]

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
1085,12125986,13500,0.0,0.0,1.0,1.0,0.0,33750,#VALUE!,Alone,...,Yes,Yes,XNA,0.642701,0.491534,NaN,NaN,NaN,NaN,1
2064,12121514,18000,1.0,1.0,1.0,1.0,0.0,67950,#VALUE!,Alone,...,Yes,Yes,Business Entity Type 3,0.610052,0.643098,0.350696,NaN,2413.0,1.0,1
9203,12131134,22500,0.0,0.0,0.0,1.0,0.0,36738.9,#VALUE!,Alone,...,No,No,Business Entity Type 3,NaN,0.655822,0.684828,NaN,1597.0,2.0,0
11076,12202561,20250,1.0,0.0,1.0,1.0,1.0,40500,#VALUE!,Alone,...,Yes,Yes,Business Entity Type 3,0.865388,0.784476,0.570917,NaN,1755.0,1.0,0
35408,12133371,16650,0.0,0.0,1.0,0.0,0.0,31500,#VALUE!,Alone,...,Yes,Yes,Bank,NaN,0.555037,0.265049,NaN,2618.0,2.0,0
46140,12151053,9000,0.0,0.0,0.0,0.0,2.0,53414.1,#VALUE!,Alone,...,Yes,Yes,Medicine,NaN,0.750541,0.707699,0.1031,0.0,0.0,0
60431,12126611,42750.0,0.0,1.0,0.0,0.0,0.0,157453.2,#VALUE!,Alone,...,Yes,Yes,Business Entity Type 3,0.393323,0.320782,0.045677,0.1485,0.0,0.0,0
76752,12120311,13500,0.0,0.0,0.0,1.0,0.0,18000.0,#VALUE!,Relative,...,Yes,Yes,Business Entity Type 2,NaN,0.164812,0.683269,0.1237,355.0,0.0,0
83923,12147678,11250,1.0,0.0,1.0,0.0,0.0,112500.0,#VALUE!,Relative,...,Yes,Yes,Government,NaN,0.464989,0.445396,NaN,260.0,3.0,0
89100,12168848,6750,0.0,0.0,1.0,1.0,2.0,31410.0,#VALUE!,Alone,...,Yes,No,Agriculture,NaN,NaN,0.502878,NaN,0.0,1.0,0
100204,12218396,6750,0.0,1.0,0.0,1.0,0.0,49500.0,#VALUE!,Alone,...,Yes,Yes,XNA,NaN,0.336406,0.556727,NaN,966.0,1.0,0
101877,12161268,13500,1.0,0.0,1.0,0.0,0.0,90000.0,#VALUE!,Alone,...,Yes,Yes,Industry: type 4,NaN,0.686782,0.771362,0.0722,1869.0,1.0,0
111556,12113668,13500,1.0,0.0,1.0,0.0,0.0,12735.0,#VALUE!,Alone,...,Yes,Yes,Business Entity Type 1,0.830270,NaN,0.607557,NaN,0.0,0.0,1

In [9]:
# replace all the $ value with NAN values in the column and changeing the dtype of the column
loan_train['Client_Income'].replace("$", np.nan, inplace=True)
loan_train['Client_Income'] = pd.to_numeric(loan_train['Client_Income'])

loan_test['Client_Income'].replace("$", np.nan, inplace=True)
loan_test['Client_Income'] = pd.to_numeric(loan_test['Client_Income'])


loan_train['Credit_Amount'].replace("$", np.nan, inplace=True)
loan_train['Credit_Amount'] = pd.to_numeric(loan_train['Credit_Amount'])

loan_test['Credit_Amount'].replace("$", np.nan, inplace=True)
loan_test['Credit_Amount'] = pd.to_numeric(loan_test['Credit_Amount'])


loan_train['Loan_Annuity'].replace(["$", "#VALUE!"], np.nan, inplace=True)
loan_train['Loan_Annuity'] = pd.to_numeric(loan_train['Loan_Annuity'])

loan_test['Loan_Annuity'].replace(["$", "#VALUE!"], np.nan, inplace=True)
loan_test['Loan_Annuity'] = pd.to_numeric(loan_test['Loan_Annuity'])


loan_train['Age_Days'].replace("x", np.nan, inplace=True)
loan_train["Age_Days"] = pd.to_numeric(loan_train['Age_Days'])

loan_test['Age_Days'].replace("x", np.nan, inplace=True)
loan_test["Age_Days"] = pd.to_numeric(loan_test['Age_Days'])


loan_train['Employed_Days'].replace("x", np.nan, inplace=True)
loan_train['Employed_Days'] = pd.to_numeric(loan_train['Employed_Days'])

loan_test['Employed_Days'].replace("x", np.nan, inplace=True)
loan_test['Employed_Days'] = pd.to_numeric(loan_test['Employed_Days'])


loan_train['Registration_Days'].replace("x", np.nan, inplace=True)
loan_train['Registration_Days'] = pd.to_numeric(loan_train['Registration_Days'])

loan_test['Registration_Days'].replace("x", np.nan, inplace=True)
loan_test['Registration_Days'] = pd.to_numeric(loan_test['Registration_Days'])


loan_train['ID_Days'].replace("x", np.nan, inplace=True)
loan_train['ID_Days'] = pd.to_numeric(loan_train['ID_Days'])

loan_test['ID_Days'].replace("x", np.nan, inplace=True)
loan_test['ID_Days'] = pd.to_numeric(loan_test['ID_Days'])

loan_train['Score_Source_3'].replace("&", np.nan, inplace=True)
loan_train['Score_Source_3'] = pd.to_numeric(loan_train['Score_Source_3'])

loan_test['Score_Source_3'].replace(["&", "#"], np.nan, inplace=True)
loan_test['Score_Source_3'] = pd.to_numeric(loan_test['Score_Source_3'])

loan_test['Score_Source_2'].replace(["&", "#"], np.nan, inplace=True)
loan_test['Score_Source_2'] = pd.to_numeric(loan_test['Score_Source_2'])


loan_train['Population_Region_Relative'].replace(["@", "#"], np.nan, inplace=True)
loan_train['Population_Region_Relative'] = pd.to_numeric(loan_train['Population_Region_Relative'])

loan_test['Population_Region_Relative'].replace(["@", "#"], np.nan, inplace=True)
loan_test['Population_Region_Relative'] = pd.to_numeric(loan_test['Population_Region_Relative'])

loan_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          121856 non-null  int64
 1   Client_Income               118234 non-null  float64
 2   Car_Owned                   118275 non-null  float64
 3   Bike_Owned                  118232 non-null  float64
 4   Active_Loan                 118221 non-null  float64
 5   House_Own                   118195 non-null  float64
 6   Child_Count                 118218 non-null  float64
 7   Credit_Amount               118219 non-null  float64
 8   Loan_Annuity                117030 non-null  float64
 9   Accompany_Client            120110 non-null  object
 10  Client_Income_Type          118155 non-null  object
 11  Client_Education            118211 non-null  object
 12  Client_Marital_Status       118383 non-null  object
 13  Client_Gender               119443 non-null  object
 14  Loan_Contract_Type          118205 non-null  object
 15  Client_Housing_Type         118169 non-null  object
 16  Population_Region_Relative  116988 non-null  float64
 17  Age_Days                    118239 non-null  float64
 18  Employed_Days               118190 non-null  float64
 19  Registration_Days           118225 non-null  float64
 20  ID_Days                     115871 non-null  float64
 21  Own_House_Age               41761 non-null   float64
 22  Mobile_Tag                  121856 non-null  int64
 23  Homephone_Tag               121856 non-null  int64
 24  Workphone_Working           121856 non-null  int64
 25  Client_Occupation           80421 non-null   object
 26  Client_Family_Members       119446 non-null  float64
 27  Cleint_City_Rating          119447 non-null  float64
 28  Application_Process_Day     119428 non-null  float64
 29  Application_Process_Hour    118193 non-null  float64
 30  Client_Permanent_Match_Tag  121856 non-null  object
 31  Client_Contact_Work_Tag     121856 non-null  object
 32  Type_Organization           118247 non-null  object
 33  Score_Source_1              53021 non-null   float64
 34  Score_Source_2              116170 non-null  float64
 35  Score_Source_3              94934 non-null   float64
 36  Social_Circle_Default       59928 non-null   float64
 37  Phone_Change                118192 non-null  float64
 38  Credit_Bureau               103316 non-null  float64
 39  Default                     121856 non-null  int64
dtypes: float64(24), int64(5), object(11)
memory usage: 37.2+ MB

In [10]:
loan_train.head()

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750.0,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,...,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250.0,1.0,0.0,1.0,NaN,0.0,15282.00,1826.55,Alone,...,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000.0,0.0,0.0,1.0,0.0,1.0,59527.35,2788.20,Alone,...,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0
3,12188929,15750.0,0.0,0.0,1.0,1.0,0.0,53870.40,2295.45,Alone,...,Yes,Yes,XNA,NaN,0.135182,0.631355,NaN,1700.0,3.0,0
4,12133385,33750.0,1.0,0.0,1.0,0.0,2.0,133988.40,3547.35,Alone,...,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355639,0.2021,674.0,1.0,0

In [11]:
loan_test.head()

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau
0,12202227,11250.0,0.0,1.0,1.0,1.0,0.0,112500.00,4474.80,Relative,...,16.0,Yes,Yes,Self-employed,NaN,0.757151,0.629674,0.0515,716.0,2.0
1,12279381,13500.0,1.0,1.0,1.0,1.0,3.0,49752.00,3252.15,Alone,...,18.0,No,Yes,Self-employed,NaN,0.342269,NaN,NaN,181.0,NaN
2,12222714,38250.0,0.0,1.0,0.0,1.0,0.0,67500.00,3375.00,Alone,...,19.0,Yes,Yes,Business Entity Type 3,NaN,0.683665,NaN,0.1503,281.0,NaN
3,12265215,20250.0,0.0,0.0,1.0,0.0,0.0,50849.55,3814.65,Alone,...,20.0,No,No,Medicine,0.351581,0.229950,0.672243,NaN,1442.0,4.0
4,12203970,13500.0,1.0,1.0,0.0,1.0,0.0,43603.20,2515.95,Alone,...,13.0,Yes,Yes,Self-employed,0.731110,0.566971,0.730987,NaN,927.0,1.0

In [12]:
# creating ne column on the basis of "Population_Region_Relative" column for describing whether the 
# Client area is populated or not

PRR_mean = loan_train['Population_Region_Relative'].mean()
temp = loan_train.copy()

# 0 for less populated area
temp[temp['Population_Region_Relative'] < PRR_mean] = 0

# 1 for highly populated area
temp[temp['Population_Region_Relative'] > PRR_mean] = 1
loan_train['Population_Region_Relative'] = temp['Population_Region_Relative']
loan_train.head()

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750.0,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,...,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250.0,1.0,0.0,1.0,NaN,0.0,15282.00,1826.55,Alone,...,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000.0,0.0,0.0,1.0,0.0,1.0,59527.35,2788.20,Alone,...,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0
3,12188929,15750.0,0.0,0.0,1.0,1.0,0.0,53870.40,2295.45,Alone,...,Yes,Yes,XNA,NaN,0.135182,0.631355,NaN,1700.0,3.0,0
4,12133385,33750.0,1.0,0.0,1.0,0.0,2.0,133988.40,3547.35,Alone,...,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355639,0.2021,674.0,1.0,0

In [13]:
# dropping Client Appplication ID column

loan_train.drop(columns=('ID'), inplace=True)
loan_test.drop(columns=('ID'), inplace=True)

# Null value analysis:

In [14]:
loan_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 39 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Client_Income               118234 non-null  float64
 1   Car_Owned                   118275 non-null  float64
 2   Bike_Owned                  118232 non-null  float64
 3   Active_Loan                 118221 non-null  float64
 4   House_Own                   118195 non-null  float64
 5   Child_Count                 118218 non-null  float64
 6   Credit_Amount               118219 non-null  float64
 7   Loan_Annuity                117030 non-null  float64
 8   Accompany_Client            120110 non-null  object
 9   Client_Income_Type          118155 non-null  object
 10  Client_Education            118211 non-null  object
 11  Client_Marital_Status       118383 non-null  object
 12  Client_Gender               119443 non-null  object
 13  Loan_Contract_Type          118205 non-null  object
 14  Client_Housing_Type         118169 non-null  object
 15  Population_Region_Relative  116988 non-null  float64
 16  Age_Days                    118239 non-null  float64
 17  Employed_Days               118190 non-null  float64
 18  Registration_Days           118225 non-null  float64
 19  ID_Days                     115871 non-null  float64
 20  Own_House_Age               41761 non-null   float64
 21  Mobile_Tag                  121856 non-null  int64
 22  Homephone_Tag               121856 non-null  int64
 23  Workphone_Working           121856 non-null  int64
 24  Client_Occupation           80421 non-null   object
 25  Client_Family_Members       119446 non-null  float64
 26  Cleint_City_Rating          119447 non-null  float64
 27  Application_Process_Day     119428 non-null  float64
 28  Application_Process_Hour    118193 non-null  float64
 29  Client_Permanent_Match_Tag  121856 non-null  object
 30  Client_Contact_Work_Tag     121856 non-null  object
 31  Type_Organization           118247 non-null  object
 32  Score_Source_1              53021 non-null   float64
 33  Score_Source_2              116170 non-null  float64
 34  Score_Source_3              94934 non-null   float64
 35  Social_Circle_Default       59928 non-null   float64
 36  Phone_Change                118192 non-null  float64
 37  Credit_Bureau               103316 non-null  float64
 38  Default                     121856 non-null  int64
dtypes: float64(24), int64(4), object(11)
memory usage: 36.3+ MB

In [15]:
loan_train.nunique()

Client_Income                  1216
Car_Owned                         2
Bike_Owned                        2
Active_Loan                       2
House_Own                         2
Child_Count                      14
Credit_Amount                  4175
Loan_Annuity                  10856
Accompany_Client                  7
Client_Income_Type                8
Client_Education                  5
Client_Marital_Status             4
Client_Gender                     3
Loan_Contract_Type                2
Client_Housing_Type               6
Population_Region_Relative        2
Age_Days                      17000
Employed_Days                  9949
Registration_Days             14142
ID_Days                        5962
Own_House_Age                    55
Mobile_Tag                        2
Homephone_Tag                     2
Workphone_Working                 2
Client_Occupation                18
Client_Family_Members            15
Cleint_City_Rating                3
Application_Process_Day           7
Application_Process_Hour         24
Client_Permanent_Match_Tag        2
Client_Contact_Work_Tag           2
Type_Organization                58
Score_Source_1                43968
Score_Source_2                67016
Score_Source_3                  771
Social_Circle_Default          1882
Phone_Change                   3590
Credit_Bureau                    21
Default                           2
dtype: int64

In [16]:
pd.DataFrame({"count": loan_train.isna().sum(), "Percentage": loan_train.isna().sum()/len(loan_train) * 100})

                            count  Percentage
Client_Income                3622    2.972361
Car_Owned                    3581    2.938715
Bike_Owned                   3624    2.974002
Active_Loan                  3635    2.983029
House_Own                    3661    3.004366
Child_Count                  3638    2.985491
Credit_Amount                3637    2.984670
Loan_Annuity                 4826    3.960412
Accompany_Client             1746    1.432839
Client_Income_Type           3701    3.037191
Client_Education             3645    2.991236
Client_Marital_Status        3473    2.850085
Client_Gender                2413    1.980206
Loan_Contract_Type           3651    2.996159
Client_Housing_Type          3687    3.025702
Population_Region_Relative   4868    3.994879
Age_Days                     3617    2.968258
Employed_Days                3666    3.008469
Registration_Days            3631    2.979747
ID_Days                      5985    4.911535
Own_House_Age               80095   65.729221
Mobile_Tag                      0    0.000000
Homephone_Tag                   0    0.000000
Workphone_Working               0    0.000000
Client_Occupation           41435   34.003250
Client_Family_Members        2410    1.977744
Cleint_City_Rating           2409    1.976924
Application_Process_Day      2428    1.992516
Application_Process_Hour     3663    3.006007
Client_Permanent_Match_Tag      0    0.000000
Client_Contact_Work_Tag         0    0.000000
Type_Organization            3609    2.961692
Score_Source_1              68835   56.488806
Score_Source_2               5686    4.666163
Score_Source_3              26922   22.093290
Social_Circle_Default       61928   50.820641
Phone_Change                 3664    3.006828
Credit_Bureau               18540   15.214680
Default                         0    0.000000

In [17]:
pd.DataFrame({"count": loan_test.isna().sum(), "Percentage": loan_test.isna().sum()/len(loan_test) * 100})

                            count  Percentage
Client_Income                2451    3.029666
Car_Owned                    2405    2.972806
Bike_Owned                   2486    3.072930
Active_Loan                  2454    3.033375
House_Own                    2347    2.901112
Child_Count                  2328    2.877627
Credit_Amount                2291    2.831891
Loan_Annuity                 3208    3.965389
Accompany_Client             1208    1.493201
Client_Income_Type           2501    3.091471
Client_Education             2350    2.904821
Client_Marital_Status        2443    3.019778
Client_Gender                1627    2.011125
Loan_Contract_Type           2321    2.868974
Client_Housing_Type          2408    2.976514
Population_Region_Relative   3278    4.051916
Age_Days                     2484    3.070457
Employed_Days                2426    2.998764
Registration_Days            2403    2.970334
ID_Days                      3886    4.803461
Own_House_Age               53581   66.231150
Mobile_Tag                      0    0.000000
Homephone_Tag                   0    0.000000
Workphone_Working               0    0.000000
Client_Occupation           27845   34.419036
Client_Family_Members        1644    2.032138
Cleint_City_Rating           1631    2.016069
Application_Process_Day      1539    1.902349
Application_Process_Hour     2406    2.974042
Client_Permanent_Match_Tag      0    0.000000
Client_Contact_Work_Tag         0    0.000000
Type_Organization            2459    3.039555
Score_Source_1              45493   56.233622
Score_Source_2               3716    4.593325
Score_Source_3              18020   22.274413
Social_Circle_Default       41090   50.791100
Phone_Change                 2423    2.995056
Credit_Bureau               12282   15.181706

In [18]:
loan_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 39 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Client_Income               118234 non-null  float64
 1   Car_Owned                   118275 non-null  float64
 2   Bike_Owned                  118232 non-null  float64
 3   Active_Loan                 118221 non-null  float64
 4   House_Own                   118195 non-null  float64
 5   Child_Count                 118218 non-null  float64
 6   Credit_Amount               118219 non-null  float64
 7   Loan_Annuity                117030 non-null  float64
 8   Accompany_Client            120110 non-null  object
 9   Client_Income_Type          118155 non-null  object
 10  Client_Education            118211 non-null  object
 11  Client_Marital_Status       118383 non-null  object
 12  Client_Gender               119443 non-null  object
 13  Loan_Contract_Type          118205 non-null  object
 14  Client_Housing_Type         118169 non-null  object
 15  Population_Region_Relative  116988 non-null  float64
 16  Age_Days                    118239 non-null  float64
 17  Employed_Days               118190 non-null  float64
 18  Registration_Days           118225 non-null  float64
 19  ID_Days                     115871 non-null  float64
 20  Own_House_Age               41761 non-null   float64
 21  Mobile_Tag                  121856 non-null  int64
 22  Homephone_Tag               121856 non-null  int64
 23  Workphone_Working           121856 non-null  int64
 24  Client_Occupation           80421 non-null   object
 25  Client_Family_Members       119446 non-null  float64
 26  Cleint_City_Rating          119447 non-null  float64
 27  Application_Process_Day     119428 non-null  float64
 28  Application_Process_Hour    118193 non-null  float64
 29  Client_Permanent_Match_Tag  121856 non-null  object
 30  Client_Contact_Work_Tag     121856 non-null  object
 31  Type_Organization           118247 non-null  object
 32  Score_Source_1              53021 non-null   float64
 33  Score_Source_2              116170 non-null  float64
 34  Score_Source_3              94934 non-null   float64
 35  Social_Circle_Default       59928 non-null   float64
 36  Phone_Change                118192 non-null  float64
 37  Credit_Bureau               103316 non-null  float64
 38  Default                     121856 non-null  int64
dtypes: float64(24), int64(4), object(11)
memory usage: 36.3+ MB

In [19]:
from sklearn.impute import SimpleImputer

si_mean = SimpleImputer(strategy="mean", missing_values=np.nan)
si_mode = SimpleImputer(strategy='most_frequent', missing_values=np.nan)

In [20]:
# applying mode

loan_train.iloc[:,0:5] = si_mode.fit_transform(loan_train.iloc[:, 0:5])
loan_train.iloc[:,8:16] = si_mode.fit_transform(loan_train.iloc[:, 8:16])
loan_train.iloc[:,20:32] = si_mode.fit_transform(loan_train.iloc[:, 20:32])
loan_train.iloc[:,37:38] = si_mode.fit_transform(loan_train.iloc[:, 37:38])

loan_test.iloc[:,0:5] = si_mode.fit_transform(loan_test.iloc[:, 0:5])
loan_test.iloc[:,8:16] = si_mode.fit_transform(loan_test.iloc[:, 8:16])
loan_test.iloc[:,20:32] = si_mode.fit_transform(loan_test.iloc[:, 20:32])
loan_test.iloc[:,37:38] = si_mode.fit_transform(loan_test.iloc[:, 37:38])

In [21]:
# applyinjg mean
loan_train.iloc[:,6:8] = si_mean.fit_transform(loan_train.iloc[:, 6:8])
loan_train.iloc[:,32:36] = si_mean.fit_transform(loan_train.iloc[:, 32:36])

loan_test.iloc[:,6:8] = si_mean.fit_transform(loan_test.iloc[:, 6:8])
loan_test.iloc[:,32:36] = si_mean.fit_transform(loan_test.iloc[:, 32:36])

In [22]:
#applying Mean with round function for required columns
loan_train.iloc[:,5:6] = np.round(si_mean.fit_transform(loan_train.iloc[:, 5:6]))
loan_train.iloc[:,16:20] = np.round(si_mean.fit_transform(loan_train.iloc[:, 16:20]))
loan_train.iloc[:,36:37] = np.round(si_mean.fit_transform(loan_train.iloc[:, 36:37]))

loan_test.iloc[:,5:6] = np.round(si_mean.fit_transform(loan_test.iloc[:, 5:6]))
loan_test.iloc[:,16:20] = np.round(si_mean.fit_transform(loan_test.iloc[:, 16:20]))
loan_test.iloc[:,36:37] = np.round(si_mean.fit_transform(loan_test.iloc[:, 36:37]))

loan_train

,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,6750.0,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,Commercial,...,Yes,Yes,Self-employed,0.568066,0.478787,0.511180,0.018600,63.0,0.0,0
1,20250.0,1.0,0.0,1.0,1.0,0.0,15282.00,1826.55,Alone,Service,...,Yes,Yes,Government,0.563360,0.215068,0.511180,0.117428,962.0,0.0,0
2,18000.0,0.0,0.0,1.0,0.0,1.0,59527.35,2788.20,Alone,Service,...,Yes,Yes,Self-employed,0.501213,0.552795,0.329655,0.074200,277.0,0.0,0
3,15750.0,0.0,0.0,1.0,1.0,0.0,53870.40,2295.45,Alone,Retired,...,Yes,Yes,XNA,0.501213,0.135182,0.631355,0.117428,1700.0,3.0,0
4,33750.0,1.0,0.0,1.0,0.0,2.0,133988.40,3547.35,Alone,Commercial,...,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355639,0.202100,674.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121851,29250.0,0.0,0.0,0.0,1.0,0.0,107820.00,3165.30,Relative,Service,...,Yes,No,Business Entity Type 2,0.501213,0.173527,0.184116,0.057700,0.0,1.0,1
121852,15750.0,0.0,1.0,1.0,0.0,0.0,104256.00,3388.05,Alone,Commercial,...,Yes,Yes,Self-employed,0.501213,0.371559,0.406617,0.082500,4.0,0.0,0
121853,8100.0,0.0,1.0,0.0,1.0,1.0,55107.90,2989.35,Alone,Govt Job,...,No,No,Trade: type 6,0.169049,0.048079,0.511180,0.117428,0.0,0.0,0
121854,38250.0,1.0,1.0,0.0,1.0,0.0,45000.00,2719.35,Alone,Service,...,Yes,Yes,Business Entity Type 3,0.182737,0.103538,0.077499,0.097900,0.0,2.0,0
121855,9000.0,1.0,1.0,1.0,1.0,1.0,62428.95,4201.65,Alone,Commercial,...,Yes,Yes,Business Entity Type 3,0.501213,0.556414,0.298595,0.103100,805.0,0.0,0

In [23]:
pd.DataFrame({"count": loan_train.isna().sum(), "Percentage": loan_train.isna().sum()/len(loan_train) * 100})

                            count  Percentage
Client_Income                   0         0.0
Car_Owned                       0         0.0
Bike_Owned                      0         0.0
Active_Loan                     0         0.0
House_Own                       0         0.0
Child_Count                     0         0.0
Credit_Amount                   0         0.0
Loan_Annuity                    0         0.0
Accompany_Client                0         0.0
Client_Income_Type              0         0.0
Client_Education                0         0.0
Client_Marital_Status           0         0.0
Client_Gender                   0         0.0
Loan_Contract_Type              0         0.0
Client_Housing_Type             0         0.0
Population_Region_Relative      0         0.0
Age_Days                        0         0.0
Employed_Days                   0         0.0
Registration_Days               0         0.0
ID_Days                         0         0.0
Own_House_Age                   0         0.0
Mobile_Tag                      0         0.0
Homephone_Tag                   0         0.0
Workphone_Working               0         0.0
Client_Occupation               0         0.0
Client_Family_Members           0         0.0
Cleint_City_Rating              0         0.0
Application_Process_Day         0         0.0
Application_Process_Hour        0         0.0
Client_Permanent_Match_Tag      0         0.0
Client_Contact_Work_Tag         0         0.0
Type_Organization               0         0.0
Score_Source_1                  0         0.0
Score_Source_2                  0         0.0
Score_Source_3                  0         0.0
Social_Circle_Default           0         0.0
Phone_Change                    0         0.0
Credit_Bureau                   0         0.0
Default                         0         0.0

In [24]:
pd.DataFrame({"count": loan_test.isna().sum(), "Percentage": loan_test.isna().sum()/len(loan_test) * 100})

                            count  Percentage
Client_Income                   0         0.0
Car_Owned                       0         0.0
Bike_Owned                      0         0.0
Active_Loan                     0         0.0
House_Own                       0         0.0
Child_Count                     0         0.0
Credit_Amount                   0         0.0
Loan_Annuity                    0         0.0
Accompany_Client                0         0.0
Client_Income_Type              0         0.0
Client_Education                0         0.0
Client_Marital_Status           0         0.0
Client_Gender                   0         0.0
Loan_Contract_Type              0         0.0
Client_Housing_Type             0         0.0
Population_Region_Relative      0         0.0
Age_Days                        0         0.0
Employed_Days                   0         0.0
Registration_Days               0         0.0
ID_Days                         0         0.0
Own_House_Age                   0         0.0
Mobile_Tag                      0         0.0
Homephone_Tag                   0         0.0
Workphone_Working               0         0.0
Client_Occupation               0         0.0
Client_Family_Members           0         0.0
Cleint_City_Rating              0         0.0
Application_Process_Day         0         0.0
Application_Process_Hour        0         0.0
Client_Permanent_Match_Tag      0         0.0
Client_Contact_Work_Tag         0         0.0
Type_Organization               0         0.0
Score_Source_1                  0         0.0
Score_Source_2                  0         0.0
Score_Source_3                  0         0.0
Social_Circle_Default           0         0.0
Phone_Change                    0         0.0
Credit_Bureau                   0         0.0

## Label Encoding:

In [25]:
from sklearn.preprocessing import LabelEncoder

cols = ["Accompany_Client", "Client_Marital_Status", "Client_Income_Type", "Client_Education", "Client_Gender", "Loan_Contract_Type", "Client_Housing_Type", "Client_Occupation", "Client_Permanent_Match_Tag", "Client_Contact_Work_Tag", "Type_Organization"]
loan_train[cols] = loan_train[cols].apply(LabelEncoder().fit_transform)

cols = ["Accompany_Client", "Client_Marital_Status", "Client_Income_Type", "Client_Education", "Client_Gender", "Loan_Contract_Type", "Client_Housing_Type", "Client_Occupation", "Client_Permanent_Match_Tag", "Client_Contact_Work_Tag", "Type_Organization"]
loan_test[cols] = loan_test[cols].apply(LabelEncoder().fit_transform)

In [26]:
loan_train.head()

,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,6750.0,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,1,1,...,1,1,42,0.568066,0.478787,0.511180,0.018600,63.0,0.0,0
1,20250.0,1.0,0.0,1.0,1.0,0.0,15282.00,1826.55,1,5,...,1,1,11,0.563360,0.215068,0.511180,0.117428,962.0,0.0,0
2,18000.0,0.0,0.0,1.0,0.0,1.0,59527.35,2788.20,1,5,...,1,1,42,0.501213,0.552795,0.329655,0.074200,277.0,0.0,0
3,15750.0,0.0,0.0,1.0,1.0,0.0,53870.40,2295.45,1,4,...,1,1,57,0.501213,0.135182,0.631355,0.117428,1700.0,3.0,0
4,33750.0,1.0,0.0,1.0,0.0,2.0,133988.40,3547.35,1,1,...,1,1,5,0.508199,0.301182,0.355639,0.202100,674.0,1.0,0

# Model training:

In [27]:
from imblearn.combine import SMOTETomek
from sklearn.model_selection import GridSearchCV
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, roc_curve, auc
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

In [28]:
X = loan_train.drop("Default", axis=1)
y = loan_train['Default']

In [29]:
def ml_default(X, y, algo):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    model = algo().fit(X_train, y_train)
    
    y_pred_train = model.predict(X_train)
    y_pred_test = model.predict(X_test)
    
    accuracy_train = metrics.accuracy_score(y_train, y_pred_train)
    accuracy_test = metrics.accuracy_score(y_test, y_pred_test)
    
    #algo = str(algo).aplit("''")[1].splut(".")[-1]
    accuracy_metrics = {
        "algorithm": algo.__name__,
        "Accuracy_Train": accuracy_train,
        "Accuracy_Test": accuracy_test
    }
    return accuracy_metrics

In [30]:
print(ml_default(X, y, DecisionTreeClassifier))
print(ml_default(X, y, ExtraTreesClassifier))
print(ml_default(X, y, RandomForestClassifier))
print(ml_default(X, y, AdaBoostClassifier))
print(ml_default(X, y, GradientBoostingClassifier))
print(ml_default(X, y, XGBClassifier))

{'algorithm': 'DecisionTreeClassifier', 'Accuracy_Train': 1.0, 'Accuracy_Test': 0.8733382570162481}
{'algorithm': 'ExtraTreesClassifier', 'Accuracy_Train': 1.0, 'Accuracy_Test': 0.9332840965041851}
{'algorithm': 'RandomForestClassifier', 'Accuracy_Train': 0.9999794838127283, 'Accuracy_Test': 0.930822255046775}
{'algorithm': 'AdaBoostClassifier', 'Accuracy_Train': 0.9191046735874605, 'Accuracy_Test': 0.9196208764155588}
{'algorithm': 'GradientBoostingClassifier', 'Accuracy_Train': 0.9198432563292438, 'Accuracy_Test': 0.919826029870343}
{'algorithm': 'XGBClassifier', 'Accuracy_Train': 0.9322145172541135, 'Accuracy_Test': 0.921097981290005}

## Using GridSearch to get best parameters for the algorithm:

* Gridsearch is a cross validation function 
* Hyper parameter tuning - we give parameter values manually in the algorithm to reduct the overfitting issues and better accuracy
* So using gridsearchcv method to pass the multiple values in each parameters and it will try to evaluate all the combinations of values and returns the best accuracy parameter values based on the score
* eg: {'max_depth': 20, 'max_feature':'sqrt', 'min_samples_leaf':1, 'min_samples_splt':2}
* note: this process take long time(avg 1hour 15 mins). Please wait

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
param_grid = {
    "max_depth":[2, 5, 10, 20, 30],
    "min_samples_split": [2, 5, 10, 20],
    'min_samples_leaf':[1, 2, 4, 8],
    "max_features":['sqrt', 'log2']
}
grid_search = GridSearchCV(estimator=RandomForestClassifier(), param_grid=param_grid, cv = 5, n_jobs = -1)
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'max_depth': [2, 5, 10, 20, 30],
                         'max_features': ['sqrt', 'log2'],
                         'min_samples_leaf': [1, 2, 4, 8],
                         'min_samples_split': [2, 5, 10, 20]})

In [32]:
grid_search.best_score_

0.9277419877670647

In [33]:
grid_search.best_params_

{'max_depth': 30,
 'max_features': 'sqrt',
 'min_samples_leaf': 1,
 'min_samples_split': 2}

In [34]:
# passing the best parameters in the random forest algorithm and check the training and testing accuracy

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = RandomForestClassifier(max_depth = 30, max_features = 'sqrt', min_samples_leaf = 1,min_samples_split = 2).fit(X_train, y_train)

y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

accuracy_train = metrics.accuracy_score(y_train, y_pred_train)
accuracy_test = metrics.accuracy_score(y_test, y_pred_test)
accuracy_test, accuracy_train

(0.9305350402100772, 0.9991896106027656)

## KFold to get the best train and test data split:

In [38]:
from sklearn.model_selection import KFold

kfold = KFold(n_splits=11)
for train, test in kfold.split(X, y):
    model.fit(X.iloc[train, :], y[train])
    y_pred = model.predict(X.iloc[test, :])
    print(metrics.accuracy_score(y[test], y_pred) * 100)

92.97707167358729
93.32912077992418
92.6791839682253
93.06734067521212
93.139555876512
93.32009387976169
93.33814768008666
92.99512547391225
93.26593247878678
93.06671481448046
93.00352080888327

In [39]:
train, test = list(kfold.split(X, y))[6]
X_train, X_test = X.iloc[train, :], X.iloc[test, :]
y_train, y_test = y[train], y[test]

In [40]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
metrics.accuracy_score(y_test, y_pred) * 100

93.34717458024913

# Testing Data Prediction on the Test dataset:

In [43]:
loan_test

,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,...,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau
0,11250.0,0.0,1.0,1.0,1.0,0.0,112500.00,4474.80,6,4,...,16.0,1,1,42,0.501752,0.757151,0.629674,0.051500,716.0,2.0
1,13500.0,1.0,1.0,1.0,1.0,3.0,49752.00,3252.15,1,4,...,18.0,0,1,42,0.501752,0.342269,0.511575,0.117942,181.0,0.0
2,38250.0,0.0,1.0,0.0,1.0,0.0,67500.00,3375.00,1,1,...,19.0,1,1,5,0.501752,0.683665,0.511575,0.150300,281.0,0.0
3,20250.0,0.0,0.0,1.0,0.0,0.0,50849.55,3814.65,1,2,...,20.0,0,0,30,0.351581,0.229950,0.672243,0.117942,1442.0,4.0
4,13500.0,1.0,1.0,0.0,1.0,0.0,43603.20,2515.95,1,4,...,13.0,1,1,42,0.731110,0.566971,0.730987,0.117942,927.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,11700.0,0.0,0.0,0.0,1.0,2.0,107820.00,3152.25,1,4,...,9.0,1,0,42,0.495015,0.599436,0.276441,0.117942,537.0,1.0
80896,29250.0,0.0,1.0,1.0,1.0,2.0,116430.75,4630.50,1,2,...,15.0,1,1,28,0.803057,0.515739,0.680139,0.107200,316.0,0.0
80897,54000.0,1.0,0.0,1.0,1.0,0.0,52128.00,2742.30,1,4,...,14.0,1,0,42,0.501752,0.403059,0.215182,0.117942,426.0,0.0
80898,13500.0,0.0,0.0,1.0,0.0,0.0,25470.00,1435.05,1,4,...,5.0,1,1,26,0.501752,0.236402,0.579727,0.139200,1186.0,2.0
80899,10350.0,1.0,0.0,0.0,0.0,1.0,26955.00,1475.10,1,4,...,9.0,1,1,4,0.127368,0.442904,0.456110,0.120600,1056.0,1.0

In [44]:
y_pred = model.predict(loan_test)

In [45]:
pd.DataFrame(y_pred).to_csv("Predictions.csv")

AttributeError: module 'pandas' has no attribute 'DataFrameFrame'